h1 {

}


img {
  height: 35%;
  width: 35%;
}
.RIGHT{
  float: right;
}
.Fin{
  border: 5px red dotted;
}
.SB {
  height: 40%;
  width: 40%;
}
.u{
  text-decoration:underline;

}
.bold{
  text-weight:bold;
  
}
